@import './Colors.sass'

.stock-card
  background: white
  border: 1px solid #929caa
  border-radius: 3px
  width: 100%
  font-size: 1rem
  .single-stock
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    padding: 7px
    width: 100%
    border-bottom: 1px solid #dcdfe4
    .left-info
      text-align: left
      font-size: .85rem
