@import './Colors.sass'

.stock-card
  padding: 0px
  margin-top: 15px
  max-height: 400px
  overflow: scroll
  -webkit-overflow-scrolling: touch
  .single-stock
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    padding: 7px
    width: 100%
    border-bottom: 1px solid $line-color
    flex-flow: wrap
    &.isExpandable
      cursor: pointer
    .expand-box
      margin-top: 10px
      width: 100%
      max-height: 0px
      transition: max-height 300ms ease
      overflow: hidden
      .button
        float: left
        margin: 7px 0 10px 3px
    &.focus
      .expand-box
        max-height: 150px
    .left-info
      text-align: left
      font-size: .85rem
    &:last-child
      border-bottom: 0px
    .left-column
      display: inline-block
      position: relative
    .date
      max-width: 50px
      min-width: 50px
      width: 50px
      margin-right: 7px
      text-align: center
    .right-line
      &::after
        content: ""
        display: inline-block
        height: 90%
        margin: 5% -2px 0
        background-color: $line-color
        width: 1px
        position: absolute
        right: 0
        top: 0
