@import './Colors.sass'

.stock-card
  padding: 0px
  .single-stock
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    padding: 7px
    width: 100%
    border-bottom: 1px solid #dcdfe4
    .left-info
      text-align: left
      font-size: .85rem
    &:last-child
      border-bottom: 0px
