@import './Colors.sass'
@import './mixins.sass'

.user-second-panel
  background-image: $rightGradient
  min-height: 100px
  display: flex
  flex-direction: column
  text-align: center
  color: white
  font-size: 1.2rem
  white-space: nowrap
  .button.tgl
    float: right
